html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
 

  
  width: 200px;  /*widht 200*/



  text-align: center;  /*center horizontally*/

  border: 5px solid;   /*center vertically*/
  padding: 50px 0;


    };