html {
  font-family: Tahoma;
}

/* Your CSS below here */

div {
 

  
  width: 200px;  /*widht 200*/



  text-align: center;  /*center horizontally*/

  border: 5px solid;   /*center vertically*/
  padding: 50px 0;

  font-size: 1.125rem;  /*increate font size 18px = 1.125rem*/

  background-color: yellow;  /*background color */
  color: blueviolet;  /*font and border color*/

  text-shadow: 1px 1px black; /*text shadow*/

  border-radius: 5px; /*border radius*/
    };